.use {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 20px;
}

.useinf {
    margin: -6px;
}

#main {
    display: flex;
    flex-direction: column;
}

#quest-form {
    display: flex;
    flex-direction: column;
}

#quest-form * {
    margin: 10px 0px 10px 0px;
}

.label-choice {
    color:crimson;
    font-weight: 900;
}

.formy {
    display: flex;
    flex-direction: column;
}

img {
    width: 10vw;
    height: 10vw;
}